#tudo{
    width: 900px;
    height: 530px;
    padding: 0;
    margin: auto;
}

#imagem{
    width: 900px;
    height: 500px;
    padding: 0;
    margin: 0;
}

#menu{
    width: 600px;
    height: 30px;
    background-color: white;
    padding: 0;
    margin: 0 auto;
}

#icon{
    float: left;
    text-align: center;
    width: 19%;
    padding: 5px 0;
    color: black;
    font-family: "Courier New";
    text-decoration: none;
    font-weight: bold;
    border-style: solid;
    border-width: 0px 1px;
}

#icon:hover{
    background-color: #707070;
}