#corpo{
    width: 900px;
    margin: 0 auto;
    border: solid;
}

#logo{
    width: 230px;
    height: 110px;
    padding: 0 auto;
    margin: 0 auto;
}

#menu{
    width: 600px;
    height: 30px;
    background-color: white;
    padding: 0;
    margin: 0 auto;
}

#icon{
    float: left;
    text-align: center;
    width: 19%;
    padding: 5px 0;
    color: black;
    font-family: "Courier New";
    text-decoration: none;
    font-weight: bold;
    border-style: solid;
    border-width: 0px 1px;
}

#icon:hover{
    background-color: #707070;
}

#conteudo{
    width: 900px;
    border: solid green;
    padding: 0;
    margin: 0;
}

#rodape{
    width: 900px;
    height: 20px;
    padding-left: 20;
    margin: 0;
    color: #303030;
    font-size: 11;
}